*{
    background-color: navy;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: white;
    text-align: center;
    margin-top: 5%;
}
.result{
        color: white;
        text-align: center;
        margin-top: 10px;
}
.gameApp{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.game{
    display: flex;
    width: 240px;
    flex-wrap: wrap;
}
.cell{
    display: flex;
    width: 80px;
    height: 8cqh;
    border: 2px solid white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}